<div class="legend">
  <h2 class="legend-header">Legend</h2>

  <div class="pins">
    <div>
      <div class="pin-container">
        <img class="pin-img" alt="no pin img" [src]="pin5" />
        <p class="category-text">- Children</p>
      </div>

      <div class="pin-container">
        <img class="pin-img" alt="no pin img" [src]="pin1" />
        <p class="category-text">- Animals</p>
      </div>

      <div class="pin-container">
        <img class="pin-img" alt="no pin img" [src]="pin3" />
        <p class="category-text">- Invalids</p>
      </div>
    </div>

    <div>
      <div class="pin-container">
        <img class="pin-img" alt="no pin img" [src]="pin4" />
        <p class="category-text">- Addictions</p>
      </div>

      <div class="pin-container">
        <img class="pin-img" alt="no pin img" [src]="pin6" />
        <p class="category-text">- Retirees</p>
      </div>

      <div class="pin-container">
        <img class="pin-img" alt="no pin img" [src]="pin2" />
        <p class="category-text">- Others</p>
      </div>
    </div>
  </div>
</div>
