

.place-img-container {
  margin-bottom: 16px;
  img.place-img {
    max-width: 300px;
    border-radius: 8px;
    border: 1px solid #bbb;
    display: block;
  }
}

.placepage-places div {
  margin-bottom: 12px;
}
