<div class="page-container">
  <h1>User Info</h1>
  <div *ngIf="user" class="user-info">
    <div class="avatar">
      <img [src]="user.avatarUrl" (error)="onAvatarError($event)" [alt]="user.login + ' avatar'" />
    </div>

    <ul>
      <li><strong>Login:</strong> {{ user.login }}</li>
      <li><strong>Email:</strong> {{ user.email }}</li>
      <li><strong>Role:</strong> {{ user.role }}</li>
      <li><strong>Created At:</strong> {{ user.createdAt | date: 'short' }}</li>
    </ul>
  </div>

  <div *ngIf="!user">
    <p>User not logged in.</p>
  </div>
</div>
